<div class="row">
  <% @profiles.each do |profile| %>
    <%= link_to profile do %>
      <div class="col-md-5 profile-box text-center">
        <%= image_tag(profile.avatar.profile.url) if profile.avatar? %>
        <h6><%= profile.name %></h6>
        <p>
          <% if profile.bio? %>
            <%= profile.bio %>
          <% else %>
            This Edwardian has an empty bio
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user.present? %>
  <%= link_to 'New Profile', new_profile_path %>
<% end %>
