<div>
  <p id="notice"><%= notice %></p>
  <h4 class="profile-name"><%= @profile.name %></h4>
  <hr class="hr-profile">
  <p class="tag">
    <% if @profile.tagline? %>
      <%= "Last seen at #{@profile.tagline}, tagged #{time_ago_in_words(@profile.updated_at)} ago" %>
    <% else %>
      We haven't seen this Edwardian in public
    <% end %>
  </p>
  <% if policy(@profile).edit? %>
    <%= render 'tag' %>
  <% end %>
  <div class="text-right">
    <% if policy(@profile).edit? %>
      <%= link_to 'Edit |', edit_profile_path(@profile) %>
    <% end %>
    <% if policy(@profile).destroy? %>
      <%= link_to '| Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <div class="text-left row">
    <div class="col-md-8">
      <% if @profile.bio? %>
        <p><%= @profile.bio %></p>
      <% else %>
        <p>We currently have no information on this Edwardian's bio or projects.</p>
      <% end %>
    </div>
    <div class="profile-sidebar col-md-4">
      <%= image_tag(@profile.avatar.profile.url) if @profile.avatar? %>
      <p>
        <strong>Industry.</strong>
        <% if @profile.industry_id? %>
          <%= @profile.industry.title %>
        <% else %>
          An empty industry isn't very helpful
        <% end %>
      </p>
      <p>
        <strong>City.</strong>
        <% if @profile.location? %>
          <%= @profile.location %>
        <% else %>
          An empty city isn't very helpful
        <% end %>
      </p>
      <p>
        <strong>Currently working on.</strong>
        <% if @profile.curr_project? %>
          <%= @profile.curr_project %>
        <% else %>
          Empty current project
        <% end %>
      </p>

      <p>
        <strong>Main website.</strong>
        <% if @profile.website? %>
          <%= @profile.website %>
        <% else %>
          An empty website isn't very helpful
        <% end %>
      </p>
      <p>
        <strong>Portfolio.</strong>
        <% if @profile.portfolio? %>
          <%= @profile.portfolio %>
        <% else %>
          An empty portfolio isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Twitter.</strong>
        <% if @profile.twitter? %>
          <%= @profile.twitter %>
        <% else %>
          No twitter handle
        <% end %>
      </p>

      <p>
        <strong>Instagram.</strong>
        <% if @profile.instagram? %>
          <%= @profile.instagram %>
        <% else %>
          No instagram handle
        <% end %>
      </p>
    </div>
  </div>




</div>
