<div class="text-center">
  <p id="notice"><%= notice %></p>
  <h4><%= @profile.name %></h4>

  <%= image_tag(@profile.avatar.profile.url) if @profile.avatar? %>
  <div class="text-left row">
    <div class="col-md-6">
      <p>
        <strong>Location.</strong>
        <% if @profile.location? %>
          <%= @profile.location %>
        <% else %>
          An empty location isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Short bio.</strong>
        <% if @profile.bio? %>
          <%= @profile.bio %>
        <% else %>
          An empty bio isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Industry.</strong>
        <% if @profile.industry_id? %>
          <%= @profile.industry.title %>
        <% else %>
          An empty industry isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Currently working on.</strong>
        <% if @profile.curr_project? %>
          <%= @profile.curr_project %>
        <% else %>
          An empty current project isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Main website.</strong>
        <% if @profile.website? %>
          <%= @profile.website %>
        <% else %>
          An empty website isn't very helpful
        <% end %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Portfolio.</strong>
        <% if @profile.portfolio? %>
          <%= @profile.portfolio %>
        <% else %>
          An empty portfolio isn't very helpful
        <% end %>
      </p>

      <p>
        <strong>Twitter.</strong>
        <% if @profile.twitter? %>
          <%= @profile.twitter %>
        <% else %>
          No twitter handle
        <% end %>
      </p>

      <p>
        <strong>Instagram.</strong>
        <% if @profile.instagram? %>
          <%= @profile.instagram %>
        <% else %>
          No instagram handle
        <% end %>
      </p>
    </div>
  </div>


  <% if policy(@profile).edit? %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% end %>
  <% if policy(@profile).destroy? %>
  	<%= link_to 'Delete', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

</div>
