<div class="devise-form">
  <div class="login-block text-center">
    <%= image_tag src="E.png" %>
    <br/>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control text-center', placeholder: 'EMAIL' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control text-center', placeholder: 'PASSWORD' %>
        </div>

        <div class="form-group">
          <%= f.submit "LOG IN", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
