<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-6 post-quick">
      <h4 class="text-center"><%= post.title %></h4>
      <p>
        <%= "#{post.body[2...300]}..." %>
        <%= link_to 'Show More', post %>
      </p>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
