<h2><%= @post.title %></h2>

<div class="images">
	<% @post.images.each do |image| %>
		<%= image.title %>
		<% if image.avatar? %>
			<%= image_tag( image.avatar.url ) %>
		<% end %>
	<% end %>
</div>

<p><%= @post.body %></p>

<% if policy(post).edit? %>
	<%= link_to 'Edit', edit_post_path(post) %>
<% end %>
<% if policy(post).destroy? %>
	<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
