<!DOCTYPE html>
<html>
<head>
  <title>The New Edwardians</title>
  <meta name="description" content="A Directory of Creatives for Creatives.">
  <meta name="keywords" content="edwardian, los angeles, creative, directory, art, fashion, music, collaboration, young, talent, talent agency, modeling">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Flash messages  -->
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div id="acct-action" class="container">
    <% if current_user %>
      <p>
        <%= link_to "Add Post ", new_post_path %>
        <%= link_to "|| Add Edwardian ||", new_profile_path %>
        <%= link_to "About ||", static_about_path %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "|| New Account ||", new_user_registration_path %>
      <%= link_to "About", static_about_path %>
    <% end %>
  </div>

<% unless current_page?(root_url) %>
  <div id="header" class="container text-center">
    <div class="logo">
      <%= image_tag src="LOGO.png" %>
      <h6>A Directory Of Creatives For Creatives</h6>
    </div>
    <nav class="navbar navbar-default text-center" role="navigation">
      <ul class="nav navbar-nav">
        <li role"presentation"><%= link_to "KNOW ME", profiles_index_path %></li>
        <% Category.all.each do |category| %>
          <li role="presentation"><%= link_to "#{category.name} me", category %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <% end %>

  <!-- MAIN CONTENT -->
  <div class="main-content container-fluid">
    <%= yield %>
  </div>

  <!-- FOOTER -->
  <!-- <div class="container text-center footer">
    <h5><%= link_to "Casanova Tapia", "http://www.casanovatapia.com" %> 2015</h5>
  </div> -->
</body>
</html>
