<!DOCTYPE html>
<html>
<head>
  <title>The New Edwardians</title>
  <meta name="description" content="Los Angeles Creative Directory">
  <meta name="keywords" content="edwardian, los angeles, creative, directory, art, fashion, young, talent, talent agency, modeling">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Flash messages  -->
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- HEADER -->
  <div id="header" class="container text-center">
    <div class="logo">
      <%= image_tag src="LOGO.png" %>
      <h5>Los Angeles Creative Directory</h5>
    </div>
    <nav class="navbar navbar-default text-center" role="navigation">
      <ul class="nav navbar-nav">
        <li role"presentation"><%= link_to "SEE ME", "#" %></li>
        <li role"presentation"><%= link_to "TOUCH ME", "#" %></li>
        <li role"presentation"><%= link_to "HEAR ME", "#" %></li>
        <li role"presentation"><%= link_to "TASTE ME", "#" %></li>
        <li role"presentation"><%= link_to "SEE ME", "#" %></li>
        <li role"presentation"><%= link_to "SMELL ME", "#" %></li>
        <li role"presentation"><%= link_to "KNOW ME", "#" %></li>
      </ul>
    </nav>

  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content container-fluid">
    <%= yield %>
  </div>

</body>
</html>
